CREATE TRIGGER trg_{{ table_name }}_update
BEFORE UPDATE ON tab_{{ table_name }}
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'Aktualisieren (UPDATE) von Einträgen ist nicht erlaubt!';
END;