# Dokumentation Intstat2

## Inhalt

- [Funktionale Features](#funktionale-features)
    - [Versionierung](#versionierung)
    - [Nutzertracking](#nutzertracking)
- [Inhaltliche Features](#inhaltliche-features)
    - [Metadaten](#metadaten)
    - [Ländergruppen](#ländergruppen)
    - [Quellen](#quellen)
    - [Lizenzen](#lizenzen)
    - [Einheiten](#einheiten)
- [ER-Diagramm](#entity-relationship-diagramm)
- [Tabellen](#tabellen)
{% for table in tables %}
    - [tab_{{table.table_name}}](#tab_{{table.table_name}})
{% endfor %}
- [Benutzung der Datenbank](#benutzung-der-datenbank)
    - [Einfügen einer Zeile](#einfügen-einer-zeile)
    - [Auslesen einer aktuell gültigen Zeile](#auslesen-einer-aktuell-gültigen-zeile)
    - [Aktualisieren einer Zeile](#aktualisieren-einer-zeile)
    - [Löschen einer Zeile](#löschen-einer-zeile)
    - [Auslesen einer älteren Version einer Zeile](#auslesen-einer-älteren-version-einer-zeile)